@model Spotix.Utilities.Models.ViewModels.RegisterVM

@{
    ViewData["Title"] = "註冊";
}

<h2>註冊</h2>

<hr />
<div class="row">
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control form-control-sm" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control form-control-sm" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control form-control-sm" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LineId" class="form-label"></label>
            <input asp-for="LineId" class="form-control form-control-sm" />
            <span asp-validation-for="LineId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender" class="form-label"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" value="false" id="genderMale" />
                <label class="form-check-label" for="genderMale">男性</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" value="true" id="genderFemale" />
                <label class="form-check-label" for="genderFemale">女性</label>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        
           
            @* <label asp-for="Gender" class="form-label"></label> *@
            @* <input type="radio" value="0" id="IGender" />男性 *@
            @* <input type="radio" value="1" id="IGender" />女性 *@

            @* <br /> *@
            @* @Html.RadioButtonFor(expression: model => model.Gender, value: "0") 男性 *@

            @* @Html.RadioButtonFor(expression: model => model.Gender, value: "1") 女性 *@
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control form-control-sm" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AvatarUrl" class="form-label"></label>
            <input asp-for="AvatarUrl" class="form-control form-control-sm" />
            <span asp-validation-for="AvatarUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Roles" class="form-label"></label>
            <select asp-for="SelectedRole" class="form-control form-control-sm" asp-items="@(new SelectList(Model.Roles))"></select>
            <span asp-validation-for="SelectedRole" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control form-control-sm" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="申請" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
