@{
    ViewData["Title"] = "首頁";
}

<div class="d-flex justify-content-center align-items-center">
    <img src="/img/SPOTIX App_logo.png" alt="SPOTIX Logo" style="height: 350px;">
</div>
<div class="text-center mt-2">
    <h1>
        <span style="color: black;">-&nbsp;歡迎來到</span>
        <span style="color: #c1272d; font-size: 1.5em;">&nbsp;Spotix&nbsp;</span>
        <span style="color: black;">管理系統&nbsp;-</span>
    </h1>
</div>
