@model Spotix.Utilities.Models.EFModels.Session

@{
    ViewData["Title"] = "Create";
}

<h2 class="fw-bolder m-3">新增場次</h2>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">名稱不可為空白</span>
            </div>
            <div class="form-group">
                <label asp-for="SessionTime" class="control-label"></label>
                <input asp-for="SessionTime" class="form-control" />
                <span asp-validation-for="SessionTime" class="text-danger">內容不可為空白</span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableTime" class="control-label"></label>
                <input asp-for="AvailableTime" class="form-control" />
                <span asp-validation-for="AvailableTime" class="text-danger">內容不可為空白</span>
            </div>
            <div class="form-group">
                <label asp-for="PublishTime" class="control-label"></label>
                <input asp-for="PublishTime" class="form-control" />
                <span asp-validation-for="PublishTime" class="text-danger">內容不可為空白</span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventList"></select>
                <span asp-validation-for="EventId" class="text-danger">內容不可為空白</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
