@using Spotix.Utilities.Models
@model Spotix.Utilities.Models.ViewModels.SessionVM

@{
    ViewData["Title"] = "新增";
}


<h4 class="fw-bolder mt-5">新增活動場次 : </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SessionTime" class="control-label"></label>
                <input asp-for="SessionTime" class="form-control" />
                <span asp-validation-for="SessionTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AvailableTime" class="control-label"></label>
                <input asp-for="AvailableTime" class="form-control" />
                <span asp-validation-for="AvailableTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PublishTime" class="control-label"></label>
                <input asp-for="PublishTime" class="form-control" />
                <span asp-validation-for="PublishTime" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label"> 
                    <input class="form-check-input" asp-for="Published" />上架
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="EventId" class="control-label">活動名稱</label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventList"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="mb-3 mt-5">
                <input type="submit" value="新增" class="btn btn-outline-primary" /> |
                <a asp-action="Index" class="btn btn-secondary" >回到清單頁</a>
            </div>
        </form>
    </div>
</div>




